accelerate==1.5.2
acres==0.3.0
aiobotocore
aiofiles==23.2.1
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
anaconda-catalogs
anaconda-cloud-auth
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
av==14.2.0
Babel
bcrypt
beautifulsoup4
binaryornot
bitsandbytes==0.45.3
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
ci-info==0.3.0
click
cloudpickle
colorama
colorcet
colpali_engine==0.3.8
comm
configobj==5.0.9
configparser==7.2.0
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docstring_parser==0.16
docutils
et-xmlfile
etelemetry==0.3.1
executing
fastapi==0.115.11
fastjsonschema
ffmpy==0.5.0
filelock
fitz==0.0.1.dev2
flake8
Flask
fonttools
frontend==0.0.3
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.0
google-generativeai==0.8.4
google-resumable-media==2.7.2
googleapis-common-protos==1.69.1
gradio==5.21.0
gradio_client==1.7.2
greenlet
groovy==0.1.2
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.71.0
grpcio-tools==1.71.0
h11
h2==4.2.0
h5py
HeapDict
holoviews
hpack==4.1.0
httpcore
httplib2==0.22.0
httpx
huggingface-hub==0.29.3
hvplot
hyperframe==6.1.0
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isodate==0.6.1
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
linkify-it-py
llvmlite
lmdb
locket
looseversion==1.3.0
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
mkl_fft
mkl_random
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel==5.3.2
nipype==1.10.0
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl
orjson==3.10.15
overrides
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib==1.0.1
pathspec
patsy
pdf2image==1.17.0
peft==0.14.0
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
portalocker==2.10.1
prometheus-client
prompt-toolkit
Protego
proto-plus==1.26.1
protobuf==5.29.3
prov==2.0.1
psutil
ptyprocess
pure-eval
puremagic==1.28
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher
pydocstyle
pydot==3.0.4
pydub==0.25.1
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytesseract==0.3.13
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart==0.0.20
python-slugify
pytoolconfig
pytz
pyviz_comms
PyWavelets
pywin32
pywin32-ctypes
pywinpty
pyxnat==1.6.3
PyYAML
pyzmq
QDarkStyle
qdrant-client==1.13.3
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
qwen-vl-utils==0.0.10
rdflib==6.3.2
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa==4.9
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
ruff==0.11.0
s3fs
safehttpx==0.1.6
safetensors==0.5.3
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semantic-version==2.10.0
semver
Send2Trash
service-identity
setuptools==75.1.0
shapely==2.0.7
shellingham==1.5.4
simplejson==3.20.1
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
starlette==0.46.1
statsmodels
streamlit
sympy==1.13.1
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.21.1
toml
tomli
tomlkit==0.13.2
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
traits==7.0.2
transformers==4.47.1
truststore
Twisted
twisted-iocpsupport
typer==0.15.2
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
uritemplate==4.1.1
urllib3
uvicorn==0.34.0
vertexai==1.71.1
w3lib
watchdog
wcwidth
webencodings
websocket-client
websockets==15.0.1
Werkzeug
whatthepatch
wheel==0.44.0
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
